#container{
    width:1140px;
}
#blog-post-container{
    width:75%;
    float: left;

}
#other-posts{
    width:25%;
    float: left;
    position:fixed;
    top:0;
    right:0;
}
.tags li{
    list-style: none;
    display:inline;
    margin: 5px;
}
.tags{
    margin: 0;
    padding:0;
}
.tags li a {
    text-decoration: none;
}
.blog-post{
    position: relative;
}
.date{
    position: absolute;
    top:0;
    right: 50px;
}